.search-button{
    background-color: #3069FE;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;

    &:hover{
        transform: scale(1.05);
    }
}
