.form-dropdown-input {
  h3 {
    font-weight: 500;
    color: #333333;
    font-size: 13px;
    margin-bottom: 8px;
  }

  .dropdown-container {
    color: #1a1919;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 10px 15px;
    outline: none;
    width: 100%;
    cursor: pointer;
    position: relative;
    font-size: 11px;

    .down-icon{
      margin-left: auto;
    }
  }
}
