.autosuggest-item{
    h3{
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        color: #333;
    }

    p{
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
    }

    .icon-container{
        margin-right: 7px;
    }
}
