.carousel{
    height: 100%;
    width: 100%;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;

        &.previous{
            position: absolute;
            left: -100%;
            top: 0;
        }

        &.next{
            position: absolute;
            left: 100%;
            top: 0;
        }

    }
}