.result-card-inner {
  h1 {
    color: #333333;
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 10px;
  }

  .price-container {
    text-align: right;
  }

  .btn.cta {
    p {
      font-weight: 500;
      font-size: 17px;
      margin-right: 10px;
    }

    color: #fff;
    background-color: #3069fe;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: padding 0.2s, margin 0.2s;

    &:hover {
      padding: 10px 35px;
      margin-right: -5px;
    }
  }
}
