@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.flex{
    display: flex;
}

.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h100{
    height: 100%;
}

.push-right{
    margin-left: auto;
}

.btn{

    width: fit-content;
    padding: 7px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    user-select: none;

    &.btn-primary{
        background-color: #3069fe;
        &:hover{
            background-color: #1252F7;
        }
    }
}
